body {
    font-family: Meiryo, sans-serif;
    background-image: url(/img/vrc_background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    margin: 0;
}

.border {
    border-bottom: 1px solid #918b8b;
    margin: 45px 16px;
}

header {
    height: 80px;
    background-color:#789d78;
    margin-bottom: 100px;
}

.header-link nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

.header-link a {
    padding: 25px 20px;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
}

.profile-link ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.profile {
    max-width: 100%;
    width: 50%;
    padding: 0 16px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px 20px;
}

.profile-text {
    width: 100%;
    max-width: 400px;
    font-size: 15px;
}

.profile-text ul {
    padding-left: 20px;
    margin-bottom: 10px;
}

.profile-text li {
    text-align: center;
    list-style: none;
    margin-bottom: 2px;
}

.profile-icon {
    margin: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-icon:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.profile-link a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.profile-link a:hover {
    color: #596458;
    transform: scale(1.1);
}


.profile-link ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}