apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
images:
- name: ghcr.io/kurazuuuuuu/krz-tech-portfolio
  newTag: 0ddb97139c423220291dbac33fd7494bb6f1712f
